@use '@angular/material' as mat;
@include mat.core();

$super-violet: (
    50 : #e8e2ee,
    100 : #c5b6d5,
    200 : #9e86ba,
    300 : #77569e,
    400 : #593189,
    500 : #3c0d74,
    600 : #360b6c,
    700 : #2e0961,
    800 : #270757,
    900 : #1a0344,
    A100 : #9d79ff,
    A200 : #7846ff,
    A400 : #5213ff,
    A700 : #4300f8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$super-yellow: (
    50 : #fafde6,
    100 : #f2fbc2,
    200 : #eaf899,
    300 : #e2f570,
    400 : #dbf351,
    500 : #d5f132,
    600 : #d0ef2d,
    700 : #caed26,
    800 : #c4eb1f,
    900 : #bae713,
    A100 : #ffffff,
    A200 : #f8ffe2,
    A400 : #edffaf,
    A700 : #e7ff96,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$super-red: (
    50 : #ffebe0,
    100 : #ffceb3,
    200 : #ffad80,
    300 : #ff8c4d,
    400 : #ff7326,
    500 : #ff5a00,
    600 : #ff5200,
    700 : #ff4800,
    800 : #ff3f00,
    900 : #ff2e00,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc7bf,
    A700 : #ffb1a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($super-yellow, 500);
$my-accent: mat.define-palette($super-violet, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($super-red);


$super-theme-dark: mat.define-dark-theme(
  (
    color:(
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$super-theme-light: mat.define-light-theme(
  (
    color:(
      primary: $my-warn,
      accent: $my-accent,
      warn: $my-primary,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);


@include mat.all-component-themes($super-theme-light);

.super-dark{
  @include mat.all-component-themes($super-theme-dark);
  background-color: #414141;
  color: white;
}
